//- layout.pug
doctype html
html
  head
    title VishalDanceAcademy
    block scripts
    block style
  body
    block content
    footer#footer 
     | 2022 @ VishalDanceAcademy | All rights reserved  
     