@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Praise&display=swap');
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

#navbar{
    color: white;
 background-color: black;
 padding: 13px 5px;
 font-family: 'Lobster', cursive;
}
#logo{
    display: flex;
    align-items: center;
   color: white;
   font: 1.5rem;
   margin: 0px 10px;
}
#logo img{
    height: 5.7vh;
    width: 2.7vw;
    margin: 0px 14px;
    
}
#navbar li a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 2rem;
    color: white;
   
}

#navbar li a:hover{
    background-color: white;
    color: purple;
    border-radius: 30px 30px;
}

#navbar li{
   list-style: none;
   
  
}

#navbar ul{
    display: flex;
    flex-direction: row;
   align-items: center;
}

#introsection{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: center/cover no-repeat url('https://images.squarespace-cdn.com/content/v1/570196633c44d887e7958da3/1460262538715-Z98WLE0DZZV3HGR98OXM/ke17ZwdGBToddI8pDm48kCDj69NzL6a6kZIFJ43LUP5Zw-zPPgdn4jUwVcJE1ZvWW4PbrTyCWR9x7-ujYMNVoSllE-zBavrZi7JuSB3XsEIp2ryTI0HqTOaaUohrI8PIx5GAk6R3Mx5-hk9MjWiqwqIdFNUMKgOmAGjf2FNJfdwKMshLAGzx4R3EDFOm1kBS/dance-photography.jpg?format=1500w');
  height: 41.14vh;
  background-color: blue;
  padding-bottom: 4.57vh;
}

#introsection div.small{
    font-size: 2.5rem;
}

#ooi{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:  rgb(79, 224, 230);
}

#missionsection{ 
    display: flex;
  flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    height: 26.3vh;
    background-color: rgb(79, 224, 230);
}
.card{
   display: flex;
   justify-content: center;
  
}
#missionsection p{
    border: 2px solid red;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    height: 24vh;
    width: 21.5vw;
  margin: 0px 20px;  
  text-align: center;
 background-color: white ;
}


#missionsection img{
  
    height: 20.2vh;
    width: 21vw;
    
}


#sponsorsection{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    height: 34.3vh;
    background-color: white;
}

#sponsorsection h1{
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
font-family: 'Praise', cursive;
    padding-top: 9px;
   text-align: center;
}

.spimages{
    height: 22.86vh;
    width: 13.44vw;
   margin:1.14vh 1vw ;
  
}

#mdt{
    
    padding: 0vh 2vw;}
#ndt{
    width: 21.5vw;
}    
#sdt{
    filter: invert(100%);
}
#footer{
    height: 6.86vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family:'Lobster', cursive ;

}
